.custom-tabs .tab {
    padding: 14px 20px !important;
    font-size: 18px !important;
    border-radius: 20px !important;
    margin-right: 10px !important;
    background-color: #444 !important;
    color: white !important;
}   

.custom-tabs .tab--selected {
    background-color: #5cb85c !important;
    color: black !important;
}
